<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset Password</h2>

    <form action="/api/users/change-password" method="POST">
        <input type="hidden" name="token" th:value="${token}"/> <!-- Dùng token trong URL -->
        <input type="hidden" name="email" th:value="${email}"/> <!-- Dùng email trong URL -->
        
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required />

        <button type="submit">Change Password</button>
    </form>
</body>
</html>
